[package]
name = "luthien"
version = "0.1.0"
authors = ["Max Niederman <max@maxniederman.com>"]
edition = "2018"

[dependencies]
palette = { version = "0.5", default-features = false, features = ["serializing"] }
image =  "0.23" 
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
log = "0.4"
pretty_env_logger = "0.4"
colored = "2.0"
structopt = "0.3"
dirs = "0.3"
